/*----------------Tools-----------------*/

/*
nav {
    border: 2px solid orange;
}

.nav_about-patreon, .nav_logo, .nav_social {
    border: 2px solid red;
}

.nav_about-patreon >*, .nav_social>* {
    border: 2px solid green;
}
*/

/*
.nav_right {
    border: 1px dashed blue;
}

.nav_right >* {
    border: 1px solid green;
}

.nav_right >*>* {
    border: 1px dotted purple;
}
*/

/*================General===============*/

nav {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}

a { 
    text-decoration: none;
    color: #000;
}

/*================Header================*/

header nav {
    align-items: center;
    justify-content: center;
    margin: 1em 2em 0;
/*
    position: relative;
    right: .2em;
*/
}

.nav_logo {
    flex: 0 1 160px;
    margin: 0 calc(1.1em + .01 * (100% - 720px));
}

.nav_about-patreon, .nav_right {
    flex: 0 1 230px;
}

.nav_about-patreon, .nav_social {
    display: flex;    
    justify-content: space-between;
}

.nav_about-patreon img {
    max-height: 2.6em;
/*    max-height: 2.55em;*/
}

.nav_about-patreon {
    position: relative;
    top: .1em;
}

.nav_social img {
    max-height: 2.7em;
}

.nav_social {
    position: relative;
    bottom: .45em;
    right: .1em;
}

.nav_logo.right {
    display: none;
}

.nav_about-patreon.right {
    display: none;
}

@media all and (max-width:720px) {
    
    .nav_about-patreon.left {
        display: none;
    }
    
    .nav_about-patreon.right {
        display: flex;
/*        width: 220px;*/
    }
    
    .nav_logo {
        flex: 0 1 140px;
        margin: 0;
    }
    
    .nav_right {
        flex-basis: 215px;
        position: relative;
        top: 1.1em;
        margin-left: 1.1em;
    }
    
    .nav_social {
        right: .2em;
        bottom: .3em;
    }
    
    .nav_social img {
        max-width: 2.6em;
    }
}

@media all and 

/*================Article===============*/

/*----------------Comics Nav------------*/

.comics-nav {
    padding: 0 .5em;
}

.comics-nav img {
    max-height: 1.2em;
    padding: 0 .5em;
}

.comics-nav > a {
    flex-shrink: 0
}

.comics-nav.small,
.comics-nav.spread {
    align-items: center;
}

.comics-nav.spread {
    margin: 1.6em 0 -.2em;
}

.comics-nav.small {
    display: none;
}

h1 {
    font: bold 1.05em 'im fell dw pica';
    text-transform: uppercase;
    text-align: center;
    margin: 0 .5em;
    flex-shrink: 1;
}

.comic_number {
    font: bold .9em 'domine', serif;
}


.vertical-bar {
    align-self: flex-start;
}

.horizontal-bar {
    display: none;
}

@media all and (max-width:430px) {
    
    .comics-nav.head.spread img {
        display: none;
    }
    
    .comics-nav.head.small {
        display: flex;
        margin: 1em 0 -.8em;
    }
    
    .comics-nav.head.small img {
        margin: 0 .5em;
    }
}

/*----------------Comic Panels----------------*/

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

article img {
    max-width: 500px;
    margin: 1em;
    width: 100%;
}

/*================Footer================*/

.comics


footer {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

h2, 
footer p {
    font: bold 1.1em 'im fell dw pica', serif;
    text-align: center;
}

.comics-nav.foot {
    margin: .6em 0 1.5em;
}

.footer_tagline {
    display: flex;
    margin: 0 .6em;
}

.footer_tagline a:hover {
    text-decoration: underline;
}

@media all and (max-width:690px) {
    h2 {
        width: 8em;
    }
    
    .footer_tagline {
        margin: 0;
    }
}

@media all and (max-width:534px) {
    
    .vertical-bar {
        display: none;
    }
    
    .horizontal-bar {
        display: block;
    }
    
    h2 {
        width: auto;
    }
    
    .footer_tagline {
        flex-flow: column;
        margin: 0 .5em;
    }
    
    h2,
    footer p {
        line-height: 1em;
    }

}

@media all and (max-width:425px) {
    
    .comics-nav.foot.spread img {
        display: none;
    }
    
    .comics-nav.foot.small {
        display: flex;
        margin: 0 0 1em;
    }
    
    .comics-nav.foot img {
        margin: 0 .5em
    }
}

/*================About=================*/

.about .comics-nav.head {
    margin-bottom: 0em;
}

.about img,
.about-text {
    margin: .5em;
}

article.about {
    padding: 1em;
}

.about-text {
    max-width: 500px;
    box-sizing: border-box;
    padding: .2em 0 0 .2em;
    align-self: flex-start;
}

h3 {
    font: 1.3em 'domine', serif;
    line-height: 1.3em;
}

.about-text p {
    font: 1em 'pt sans';
    margin: 1.5em 0;
    line-height: 1.5em;
}