/*----------------Tools-----------------*/

/*
nav {
    border: 2px solid orange;
}

.nav_about-patreon, .nav_logo, .nav_social {
    border: 2px solid red;
}

.nav_about-patreon >*, .nav_social>* {
    border: 2px solid green;
}
*/

/*================General===============*/

nav {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}

a { 
    text-decoration: none;
    color: #000;
}


/*================Header================*/

header nav {
    align-items: center;
    margin: 1em 1em 0;
/*
    position: relative;
    right: .2em;
*/
}

.nav_logo {
    flex: 0 1 160px;
    margin: 0 1em;
}

.nav_about-patreon, .nav_right {
    flex: 0 1 225px;
}

.nav_about-patreon, .nav_social {
    display: flex;    
    justify-content: space-between;
}

.nav_about-patreon img {
    max-height: 2.55em;
}

.nav_about-patreon {
    position: relative;
    top: .1em;
}

.nav_social img {
    max-height: 2.7em;
}

.nav_social {
    position: relative;
    bottom: .45em;
}

.nav_logo.right {
    display: none;
}

.nav_about-patreon.right {
    display: none;
}

/*================Article===============*/

/*----------------Comics Nav------------*/

.comics nav img {
    max-height: 1.2em;
    margin: 0 .5em;
}

.comics-nav.small,
.comics-nav.spread {
    align-items: center;
}

.comics-nav.spread {
    margin: 1.6em 0 -.2em;
}

.comics-nav.small {
    display: none;
}

h1 {
    font: bold 1.05em 'im fell dw pica';
    text-transform: uppercase;
    text-align: center;
    margin: 0 .5em;
}

.comic_number {
    font: bold .9em 'domine', serif;
}


.vertical-bar {
    align-self: flex-start;
}

.horizontal-bar {
    display: none;
}

/*----------------Comic Panels----------------*/

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

article img {
    max-width: 500px;
    margin: 1em;
}

/*================Footer================*/

footer {
    display: flex;
    justify-content: center;
}

h2, 
footer p {
    font: bold 1.1em 'im fell dw pica', serif;
}


.comics-nav.foot {
    margin: .6em 1em 1.5em;
}

.footer_tagline {
    display: flex;
    margin: 0 1em;
}

.footer_tagline a:hover {
    text-decoration: underline;
}

/*================About=================*/

.about .comics-nav.head {
    margin-bottom: 0em;
}

.about img,
.about-text {
    margin: .5em;
}

article.about {
    padding: 1em;
}

.about-text {
    max-width: 500px;
    box-sizing: border-box;
    padding: .2em 0 0 .2em;
    align-self: flex-start;
}

h3 {
    font: 1.3em 'domine', serif;
    line-height: 1.3em;
}

.about-text p {
    font: 1em 'pt sans';
    margin: 1.5em 0;
    line-height: 1.5em;
}